*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;

  color: #A75D5D;
  background-color: #FFC3A1;
}

main{
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1{
  font-size: 2.15rem;
}

.container{
  margin-top: 2.5rem;
  width: 50%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

h2{
  font-size: 1.5rem;
}

button{
  padding: 0.5rem;
  width: 3rem;
  border-radius: 0.25rem;
  background-color: #F0997D;
  color: #fff;
  border: none;
  font-weight: bold;
}

.button-pressed{
  background-color: #A75D5D;
  color: #fff;
}

.container div{
  display: flex;
  gap: 2rem;
}

.total-container{
  width: 100%;
  display: flex;
  align-items: center;
}

.total-container button{
  margin-left: 2.5rem;
  width: 80px;
}

footer {
  width: 100%;
  padding: 4rem 0 2rem;
  color: #A75D5D;
  opacity: 0.6;

  position: absolute;
  bottom: 0;
  text-align: center;
}

footer p a{
  text-decoration: none;
  color: #A75D5D;
}

@media (max-width: 425px) {
  :root {
    font-size: 0.6rem;
  }

  body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
  }

  button{
    font-size: 90%;
  }

  .container{
    width: 100%;
  }

}